<div class="row">
    <h4>Интерфейс повара</h4>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card-panel grey lighten-4">
            <h5 class="">Заказанные блюда:</h5>
            <div ng-if="$ctrl.orders">
                <div ng-repeat="order in $ctrl.orders" class="card-panel teal white-text hoverable">
                    <p>{{ order.dish.title }}</p>
                    <div class="right-align">
                        <a class="btn" ng-click="$ctrl.startCooking(order)">
                            Начать готовить
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card-panel grey lighten-4">
            <h5 class="">Готовятся:</h5>
            <div ng-if="$ctrl.ordersCooking">
                <div ng-repeat="order in $ctrl.ordersCooking" class="card-panel teal white-text hoverable">
                    <p>{{ order.dish.title }}</p>
                    <div class="right-align">
                        <a class="btn" ng-click="$ctrl.finishCooking(order)">
                            Готово
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>